<!-- Y MART APP -->
<div class="box_bullet">
    <h1>Features</h1>
    <ul class="b">
        <li>Product List</li>
        <li>Login using Phone Number</li>
        <li>Order List</li>
        <li>Checkout Button</li>
        <li>Cart</li>
        <li>Order Summary</li>
    </ul>
    <h1>Tools & Technology</h1>
    <ul class="b">
        <li>Android SDK</li>
        <li>SQLite</li>
        <li>Java</li>
        <li></li>
    </ul>
</div>

<!-- Space X crew app -->

<div class="box_bullet">
    <h1>Features</h1>
    <ul class="b">
        <li>Astronaut`s List </li>
        <li>Astronaut`s Details</li>
        <li>Astronaut`s Photo</li>
        <li>Astronaut`s Organization</li>
        <li>Wiki Link</li>
    </ul>

    <h1></h1>
    <ul class="b">
        <li>Android SDK</li>
        <li>API Integration</li>
        <li>Retrofit</li>
        <li>Java</li>
    </ul>
</div>

<!-- YOUTUPE PLAYLIST -->

<div class="box_bullet">
    <h1>Features</h1>
    <ul class="b">
        <li>YouTube Playlist</li>
        <li>Video Details</li>
        <li>Thumbnail & Title</li>
        <li>Video Duration</li>
        <li>Total Playlist Time</li>
    </ul>
    <h1></h1>
    <ul class="b">
        <li>Flutter</li>
        <li>Dart</li>
        <li>YouTube API</li>
        <li>Asynchrounous Calling</li>
    </ul>
</div>

<!-- Weather app -->
<div class="box_bullet">
    <h1>Features</h1>
    <ul class="b">
        <li>Weather status using GPS</li>
        <li>Weather status by City</li>
        <li>Temperature</li>
        <li>Cloud conditions</li>
    </ul>
    <h1></h1>
    <ul class="b">
        <li>Android SDK</li>
        <li>API Integration</li>
        <li>Retrofit</li>
        <li>Open Weather API</li>
        <li>Java</li>
    </ul>
</div>

<!-- MUSIC PLAYER -->

<div class="box_bullet">
    <h1>Features</h1>
    <ul class="b">
        <li>Offline Songs</li>
        <li>Interactive Music Player</li>
        <li>Shuffle songs</li>
        <li>Loop</li>
        <li>Fast forward and backward</li>
        <li>Play In Background</li>
    </ul>
    <h1>Tools & Technology</h1>
    <ul class="b">
        <li></li>
        <li>Android SDK</li>
        <li>MultiThreading</li>
        <li>Android Services</li>
        <li>Java</li>
    </ul>
</div>

<!-- Meal recipeies -->

<div class="box_bullet">
    <h1>Features</h1>
    <ul class="b">
        <li>Indian Cuisines</li>
        <li>Food Category</li>
        <li>Recipies steps </li>
        <li>Photo</li>
        <li>Ingredients</li>
        <li>Filters</li>
    </ul>
    <h1>Tools & Technology</h1>
    <ul class="b">
        <li>Flutter</li>
        <li>Dart</li>
    </ul>
</div>


